language: php

dist: trusty

php:
  - 7.2
  - 7.3
  - 7.4

install:
  - composer install

script: composer test

before_deploy:
    - composer compile

deploy:
    provider: releases
    api_key: $GITHUB_TOKEN
    file: parallel.phar
    skip_cleanup: true
    on:
        branch: master
        repo: donkeycode/parallel
        php:  '7.2'